.details-page-body {
  margin-bottom: 20px;
}

.details-body {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  margin-top: 20px;
}

.details-img {
  width: 12rem;
}

.details-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
